@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

.about {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.about_bgc {
    width: 100%
}
.title {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 300px;
    margin: auto;
    bottom: 0;
    color: #090809;
    font-size: 24px;
    font-weight: 500;
}
.titles {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 350px;
    margin: auto;
    bottom: 0;
    color: #090809;
    font-size: 20px;
    font-weight: 500;
}
.ribbon {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 300px;
    top: 50px;
    margin: auto;
}

.ribbon:after,
.ribbon:before {
    margin-top: 0.5em;
    content: "";
    display: flex;
    ;
    border: 1.5em solid #fff;
}

.ribbon:after {
    border-right-color: transparent;
}

.ribbon:before {
    border-left-color: transparent;
}

.ribbon a:link,
.ribbon a:visited {
    color: #000;
    text-decoration: none;
    height: 3.5em;
    overflow: hidden;
}

.ribbon span {
    background: #fff;
    display: inline-block;
    line-height: 3em;
    padding: 0 1.5em;
    margin-top: 0.5em;
    position: relative;
    -webkit-transition: background-color 0.2s, margin-top 0.2s;
    /* Saf3.2+, Chrome */
    -moz-transition: background-color 0.2s, margin-top 0.2s;
    /* FF4+ */
    -ms-transition: background-color 0.2s, margin-top 0.2s;
    /* IE10 */
    -o-transition: background-color 0.2s, margin-top 0.2s;
    /* Opera 10.5+ */
    transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
    background: #FFD204;
    margin-top: 0;
}

.ribbon span:before {
    content: "";
    position: absolute;
    top: 3em;
    left: 0;
    border-right: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}

.ribbon span:after {
    content: "";
    position: absolute;
    top: 3em;
    right: 0;
    border-left: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}
.me {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    overflow: hidden;
}

.me_tit {
    width: 650px;
    line-height: 36px;
    font-size: 12px;
    margin-left: 45px;
    margin-top: 0px;
	text-indent: 2em;
	color:#F2AD24;
}

.me_img {
    width: 800px;
    height: 500px;
}
.videos {
	display: flex;
    margin-top: 50px;
    padding-bottom: 80px;
}

.span {
    width: 400px;
    color:#15EDC6;
    text-indent: 2em;
	float: left;
	line-height:36px;
    font-size: 12px;
    margin-top: 50px;
	margin-right: 50px;
	
}
.introduce {
    display: flex;
    flex-direction: column;
}

.introduce_item {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.introduce_item_img {
    width: 500px;
    height: 300px;
}

.introduce_item_title {
    width: 300px;
    font-size: 16px;
    line-height: 36px;
    align-self: center;
    padding-left: 100px;
}

.introduce_item_titles {
    width: 300px;
    font-size: 16px;
    line-height: 36px;
    align-self: center;
    padding-right: 100px;
}

