@charset "utf-8";
/* CSS Document */
.red{
	color:#F60C10;
	text-align:center;
}
.green{
	color:#42EC2C;
	text-align:left;
}
body{
	background-color: #F9EDED;
	line-height:20px;
	position: relative;
}
.one{
	text-indent: 2em;
}
img{
	border: 1px;
	float:right;
}
.content_main{
	width:720px;
	padding:20px 0px 10px 20px;
}
#main_block{
	width:752px;
}